<div class="col-md-3" id="post_meta"> 

	<!-- date -->
	<% if (item.date) { %>
	<div class="meta-widget">
	<i class="fa fa-clock-o"></i>
	<%= item.date.format(config.date_format) %> 
	</div>
	<% } %>

	<!-- author -->
	<% if (item.author) { %>
	<div class="meta-widget">
	<i class="fa fa-user"></i>
	<%= item.author %> 
	</div>
	<% } %>

	<!-- toc -->
	<div class="meta-widget">
	<% if(item.toc){ %>
	   <a data-toggle="collapse" data-target="#toc"><i class="fa fa-bars"></i></a>
	   <div id="toc" class="toc collapse in">
			<%- toc(item.content, {class: "toc-article", list_number:false}) %>
		</div>
	<% } %>
	</div>
	
    <hr>
	
</div><!-- col-md-3 -->
